<h1>Names List</h1>

<table class="striped">
  <thead>
    <tr>
      <th>Name</th>


      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for employee <- @employees do %>
    <tr>
      <td><%= employee.employee.name %></td>


    </tr>
<% end %>
  </tbody>
</table>

  <span><%= link "back", to: Routes.company_path(@conn, :show, @id_com) %></span>